        <div id="sidebar">
          <div class="sectionh2">
            <ul>
              <li><%= link_to('ブログを書く', :action => 'new') %></li>
            </ul>
          </div>
          <div class="sectionh2">
            <h2>カテゴリ</h2>
            <ul>
              <li><a href="#">カテゴリ1</a></li>
              <li><a href="#">カテゴリ</a></li>
              <li><a href="#">カテオリ</a></li>
            </ul>
          </div>
        </div>
